@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold;
}
img {
	@apply object-cover;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}

.container {
	@apply max-w-screen-sm mx-auto;
}
.accent-bg {
	@apply bg-gradient-to-r from-accent-left to-accent-right;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/*
.bg-image {
	background: url('../../public/images/bg-mobile-light.jpg') no-repeat top
		center/cover;
}

@media (width >= 768px) {
	.bg-image {
		background-image: url('../../public/images/bg-desktop-light.jpg');
	}
}
@media (prefers-color-scheme: dark) {
	.bg-image {
		background: url('../../public/images/bg-mobile-dark.jpg') no-repeat top
			center/cover;
	}
	@media (width >= 768px) {
		.bg-image {
			background-image: url('../../public/images/bg-desktop-dark.jpg');
		}
	}
}
 */
